.cont{
    width: 100%;
    text-align: center;
}
.put {
    display: none;
}
.cont h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}
.top-content{
    background-color: rgba(243, 243, 243);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
}
.top-content h3{
    height: 100%;
    background-color: rgb(221, 221, 221);
    line-height: 60px;
    padding: 0 50px;
    color: white;
}
.top-content label{
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: gray;
    cursor: pointer;
}
.top-content label:hover{
    color: #000;
}
.photo-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.pic {
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    transition: .5s;
}
.pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}
.pic video{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}
#check1:checked ~ .cont .photo-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}
#check2:checked ~ .cont .photo-gallery .men{
    opacity: 1;
    transform: scale(1);
    position: relative;
}
#check2:checked ~ .cont .photo-gallery .material,
#check2:checked ~ .cont .photo-gallery .place{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}